{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
 <!-- Main content -->
   <style>
        .unselectable{
                -webkit-user-select:none;
                -webkit-touch-callout:none;
                -moz-user-select:none;
                -ms-user-select:none;
                color:#003B74
            }
body{
    background-color:D9D9D9;

}
    </style>

    <link rel="stylesheet" href="{% static "dist/css/adminlte.min.css" %}">
    </head>
<body>
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->

  <form class="form" id="examform"  autocomplete="off"  action="/calculate_marks_view" method="POST">
    {% csrf_token %}
      <h2 style="text-align: center;"><b>{{test.course_id.course_name}}: {{test.subject_id.subject_name}}</b></h2>
      <h3 style="text-align:center">{{test.name}}</h3>
<div class="card border-info mx-5 my-4">
<h4 style="text-align:center; background-color:red">
            <a>Time left : <a id="dmin">{{ min }}</a> mins <a id="dsec">{{ sec }}</a> seconds</a>
        </h4>

<div class="unselectable">
    {% for q in questions%}

    <h5 class="card-body text-dark">{{ forloop.counter }}. {{q.question}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Marks {{q.marks}}]</h5>

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<input type="hidden" id="secs" value="{{ secs }}">
            <input type="hidden" id="mins" value="{{ mins }}">
      {% if q.question_type == "MCQ" %}
      <div class="radio mx-4">
            <input class="radio" type="radio" name="{{ q.id }}" id="{{q.Option1}}" value="Option1">
            <label class="radio" for="Option1">
              {{q.Option1}}
            </label>
          </div>

          <div class="radio mx-4">
            <input class="radio" type="radio" name="{{ q.id }}" id="{{q.Option2}}" value="Option2">
            <label class="radio" for="Option2">
              {{q.Option2}}
            </label>
          </div>


          <div class="radio mx-4">
            <input class="radio" type="radio" name="{{ q.id }}" id="{{q.Option3}}" value="Option3">
            <label class="radio" for="Option3">
              {{q.Option3}}
            </label>
          </div>


          <div class="radio mx-4">
            <input class="radio" type="radio" name="{{ q.id }}" id="{{q.Option4}}" value="Option4">
            <label class="radio" for="Option4">
              {{q.Option4}}
            </label>
          </div>

      {% else %}
      <div class="radio mx-4">
            <input class="radio" type="radio" name="{{ q.id }}" id=" {{q.Option1}} " value="Option1">
            <label class="radio" for="Option1">
              {{q.Option1}}
            </label>
          </div>

          <div class="radio mx-4">
            <input class="radio" type="radio" name="{{ q.id }}" id=" {{q.Option2}} " value="Option2">
            <label class="radio" for="Option2">
              {{q.Option2}}
            </label>
          </div>
{% endif %}

        {% endfor %}<br><div class="card-footer">
        <input class="btn btn-primary btn-block"   type="submit" value="Submit">
</div></div></div></form>
  </div>



          </div>
          </div>
    </section>
 <!-- /.content -->


<script>
    window.onbeforeunload = function(){
    return "Your work will be lost";
    }
    var milisec = 0;
        var seconds = document.getElementById("secs").value;
        var minutes = document.getElementById("mins").value
        function display() {
            if (minutes == 0 && seconds == 0) {
                window.onbeforeunload = undefined
                document.getElementById("examform").submit();
            }
            if (seconds == 0) {
                minutes = minutes - 1
                seconds = 60
            }
            seconds -= 1
            document.getElementById("dsec").innerHTML = seconds
            document.getElementById("dmin").innerHTML = minutes
            setTimeout("display()", 1000)
        }
        display()
if (performance.navigation.type == 1) {
    location.href="{%url 'logout' %}";

  } else {
    console.log( "Not reloaded");
  }
</script>


 <!-- /.content -->

<br><br><br><br><br><br>
</body>
</html>
