{% extends 'student_template/base_template.html' %}

{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Student Marks</h3>
              </div>

                <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                      <tr>
                          <th>Sr.No</th>
                        <th>Exam Name</th>
                        <th>View Marks</th>
                      </tr>
                  </thead>
                  <tbody>
                 {% for t in tests %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                  <td> {{t.name}}</td>
                  <td><a class="btn btn-success" href="{% url 'check-marks' t.id  %}">View</a></td>
                </tr>
      {% endfor %}
                  </tbody>
                </table>
              </div>


              <!-- /.card-header -->
              <!-- form start -->
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}