{% extends 'hod_template/base_template.html' %}

{% block main_content %}
    <!-- Main content -->
<section class="content" >
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Question</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="admin_add_question_save" method="post">
                  {% csrf_token %}
                <div class="card-body">

                    <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                   <div class="form-group">
                    <label>Test Name</label>
                    <select  class="form-control"  name="test">
                        {% for tests in tests %}
                        <option value="{{ tests.id }}">{{ tests.name }}</option>
                        {% endfor %}
                    </select>

                  </div>

                      <div class="form-group">
                    <label>Question</label>
                    <input type="text" class="form-control" name="question" placeholder="Enter Question">
                  </div>

                   <div class="form-group">
                    <label>Question Type</label>
                   <select  class="form-control"  name="question_type">
                    <option value="MCQ">MCQ</option>
                     <option value="True_False">True or False</option>
                   </select>

                  </div>

                    <div class="form-group">
                    <label>Marks</label>
                    <input type="text" class="form-control" name="marks" placeholder="Enter Marks">
                  </div>

                    <div class="form-group">
                    <label>Option 1</label>
                    <input type="text" class="form-control" name="Option1" placeholder="Enter Answer Option">
                  </div>

                    <div class="form-group">
                    <label>Option 2</label>
                    <input type="text" class="form-control" name="Option2" placeholder="Enter Answer Option">
                  </div>

                    <div class="form-group">
                    <label>Option 3</label>
                    <input type="text" class="form-control" name="Option3" placeholder="Enter Answer Option">
                  </div>

                    <div class="form-group">
                    <label>Option 4</label>
                    <input type="text" class="form-control" name="Option4" placeholder="Enter Answer Option">
                  </div>

                    <div class="form-group">
                    <label>Enter Answer Options</label>
                   <select  class="form-control"  name="answer">
                       <option value="">------</option>
                    <option value="Option1">Option 1</option>
                     <option value="Option2">Option 2</option>
                       <option value="Option3">Option 3</option>
                       <option value="Option4">Option 4</option>
                    </select>
                  </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Question</button>
                </div>
                </div></form>
            </div>
              </div>
          </div>
      </div>
</section>
            <!-- /.card -->
    <!-- /.content -->
{% endblock main_content %}