{% extends 'hod_template/base_template.html' %}

{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

          <div class="row">
          <form method="get">
            {% csrf_token %}

                   <table>
                <tr>
                    <td>
                  {{myFilter.form}}
                    </td>
                    </tr>
             </table>
            <button class="btn btn-primary" action="/manage_student" type="submit">
              Search
            </button>

                </form>
        </div>


           <div class="row my-3">
          <div class="col-12">
           <div class="card">
              <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Student details</h3>

                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                  <tr>

          <th>Name</th>
          <th>Course</th>
          <th>Gender</th>
          <th>Academic Year</th>
          <th>View Details</th>

        </tr>
       </thead>
       <tbody>
      {% for t in students %}
      <tr>

        <td> {{t.admin.first_name}}</td>
        <td> {{t.course_id.course_name }}</td>
        <td>{{t.gender}}</td>
          <td>{{t.Academic_year}}</td>


        <td><a class="btn btn-success" href="{% url 'admin_view_marks_view' t.id  %}">View</a></td>

      </tr>
      {% endfor %}
    </table>
  </div>
            </div>
          </div>
           </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}