{% extends 'hod_template/base_template.html' %}

{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

            <div class="row">
          <form method="get">
            {% csrf_token %}

                   <table>
                <tr>
                    <td>
                  {{myFilter.form}}
                    </td>
                    </tr>
             </table>
            <button class="btn btn-primary" action="/manage_question" type="submit">
              Search
            </button>

                </form>
        </div>


           <div class="row my-3">
          <div class="col-12">
            <div class="card">
                <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">All Question Details</h3>
              </div>
                </div>

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                        <th>Sr.No</th>
                      <th>Test Name</th>
                       <th>Question</th>
                        <th>Question Type</th>
                      <th>Option 1</th>
                      <th>Option 2</th>
                      <th>Option 3</th>
                       <th>Option 4</th>
                       <th>Correct Answer</th>
                        <th>Marks</th>
                      <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for questions in questions %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                       <td>{{ questions.Test_name.name }}</td>
                      <td>{{ questions.question }}</td>
                        <td>{{ questions.question_type }}</td>
                      <td>{{ questions.Option1 }}</td>
                      <td>{{ questions.Option2 }}</td>
                      <td>{{ questions.Option3 }}</td>
                      <td>{{ questions.Option4 }}</td>
                      <td>{{ questions.answer }}</td>
                        <td>{{ questions.marks }}</td>
                  <td><a href="/admin_edit_question/{{ questions.id }}" class="btn btn-success">Edit</a></td>
                  <td><a href="/delete_question/{{ questions.id }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
                </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}