{% load static %}
  <aside class="main-sidebar sidebar-dark-primary  elevation-4" style="background-color:#25454D">

    <!-- Sidebar -->
    <div class="sidebar" >
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'dist/img/admin.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'admin_profile' %}" class="d-block">{{ user.first_name }}  {{user.last_name}} </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item" >
            {% url 'admin_home' as admin_home %}
            <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>

                    <li class="nav-item" >
            {% url 'admin_add_test' as admin_add_test %}
            <a href="{{ admin_add_test }}" class="nav-link {% if request.path == admin_add_test %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Test
              </p>
            </a>
          </li>

                    <li class="nav-item" >
            {% url 'admin_question_view' as admin_question_view %}
            <a href="{{ admin_question_view }}" class="nav-link {% if request.path == admin_question_view %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
               Add/View Question
              </p>
            </a>
          </li>



          <li class="nav-item">
            {% url 'add_staff' as add_staff %}
            <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Staff
              </p>
            </a>
          </li>

          <li class="nav-item">
              {% url 'add_student' as add_student %}
            <a href="{% url 'add_student' %}" class="nav-link {% if request.path == add_student %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Student
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'add_course' as add_course %}
            <a href="{% url 'add_course' %}" class="nav-link {% if request.path == add_course %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Course
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'add_subject' as add_subject %}
            <a href="{% url 'add_subject' %}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Subject
              </p>
            </a>
          </li>
            <li class="nav-item">
              {% url 'admin_view_student_marks' as admin_view_student_marks %}
            <a href="{% url 'admin_view_student_marks' %}" class="nav-link {% if request.path == admin_view_student_marks %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Generate Result
              </p>
            </a>
          </li>
            <li class="nav-item">
              {% url 'add_notice' as add_notice %}
            <a href="{% url 'add_notice' %}" class="nav-link {% if request.path == add_notice %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Notice
              </p>
            </a>
          </li>
           <li class="nav-item">
              {% url 'admin_profile' as admin_profile %}
            <a href="{% url 'admin_profile' %}" class="nav-link {% if request.path == admin_profile %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Edit Profile
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>