{% extends 'registration/base.html' %}
{% block content %}
<body class="hold-transition login-page" style="background-color:#464B59">

    <div class="card-body login-card-body">
        <h2 style="color:#464B59"><p class="login-box-msg"><b>Forgot Password</b></p></h2>

      <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-block btn-success">Submit</button>
      </form>

      <!-- /.social-auth-links -->

    </div>
{% endblock content %}